readbymyself.txt

.idea/
analysis/inspect_model_output/
analysis/result_csv/
analysis/result_pictures/
analysis/RQ3
analysis/**/*.png

backup/

dataset/src/test.py

evaluation/**/*.png

model_inference/codellama_13b_instruct_hf_instruct/
model_inference/codellama_34b_instruct_hf
model_inference/codellama_34b_python_hf
model_inference/codellama_70b_instruct_hf
model_inference/codellama_70b_python_hf
model_inference/examples
model_inference/log
model_inference/test
model_inference/codellama_13b*
model_inference/codellama_34b*
model_inference/codellama_70b*

subject_projects/

**/__pycache__/